.result{
    display: flex;
    width: auto;
    height: 100vh;
    overflow: hidden;
}

#root{
overflow-y: hidden;
}

.navigation{
    width: 40%;
    height: 100%;
    flex-direction: column;
    background-color: #28282B;
    padding: 2rem;
    box-sizing: border-box;
}

.navigation .title{
    overflow-y: auto;
    color: white;
    text-align: center;
}

.navigation .container{
   width: 100%;
   height: fit-content;
   display: flex;
   flex-direction: column;
   padding: 1rem;
   box-sizing: border-box;
}

.day{
    color: white;
    font-weight: 500;
    font-size: 2rem;
}

.navigation .list{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    box-sizing: border-box;
    overflow-y: hidden;
    justify-content: space-evenly;
}

.navigation .list ul{
    overflow-y: scroll;
}

.list ul li{
    margin-bottom: 2rem;
}
.list .items{
    margin-left: 1rem;
}

.card{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 15px;
    padding: 1rem;
    box-sizing: border-box;
    z-index: 1;
}

.card .name{
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 2px solid #28282B;
    margin-bottom: 1rem;
}